

// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "utility";
@import "components";

body {
    background: pink;
}


.post-container{
    border-style: solid;
    border-width: 5px;
    margin-bottom: 5px;
    margin-top: 10px;

}
.post-name{
    font-weight: bold;
    font-size: 22px;

}
.main-container{
    display: inline-block;
    background: #6495ff;
    height: 100%;

}


.wrapper{
    width: 80%;
    margin:0 auto;
    max-width: 1000px;
}

.header-img {
    overflow: hidden;
    height: 300px;
}
.header-img img {
    width: 100%;
    background-size: cover;

}

.data-bar {
    background-color: #048aff;
    padding: 5px 0;
    padding-left: 20%;


}
.left-container{
    display: inline-block;
    background: #4267b2;
    width: 400px;
    height: 480px;
    margin: 0;
    color: white;
    padding-left: 10px;
    margin-left: 5px;

}

.flex-container {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}



.data-counter {
    padding:0 20px;
    text-align: center;
    margin-right: 20px;
    color: white;
}

.profile-name {

    font-weight: bold;
    font-size: 20px;
    margin-right: 25px;
}




.data-counter-value {
    font-size: 120%;
    font-weight: bold;
    color: white;

}

.left-column {
    padding-left: 0px;
    margin-top: 20px;
}

.user-name {
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    color: red;
    margin-left: 460px;
    padding: 0px;
    background: #4267b2;
    width: 1000px;
    padding-left: 250px;



}

.user-images {
    margin-top: 20px;
}

.user-images img {
    width: 30%;
    margin: 0 3px 8px 0;
    padding: 0;
    border-radius: 7px;
}

.profile-image{
    background: url(https://scontent-yyz1-1.xx.fbcdn.net/v/t1.0-1/p160x160/21761445_1592710297446436_2324650085604126525_n.jpg?oh=497e05231bd8594c96e89c534c8628f6&oe=5AA6272A);
    border: 5px solid white;
    height: 150px;
    width: 150px;
    left: 0;
    position: absolute;
    top: 0;
    box-shadow: 1px 5px 20px black;
    margin-top: 200px;
    margin-left: 550px;
    padding: 0px;


}


.post{
    display: inline-block;
    height: 90%;
    width: 500px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
    margin-left: 90px;
    margin-top: 20px;
    background: #4267b2;
    color: white;


}
.post1{
    color: #048aff;
    background: white;

}


.user-images a:hover{
    width: 200px;

}
